/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF MEYER RESET */

.section-1{
    background-color: white;
    text-align: center;
    margin: 100px 100px;

}
h1{
    font-family: Palatino;
    font-size: 70px;
    letter-spacing: 10px;
}

.section-2{
    background-image: url("images/ala--lHZUkiWM74-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    max-height:100%;
    /* height: 200px; */
}

/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10%;
    background-size: cover;
} */


#filter{
    text-align: center;
    margin: 100px 100px;
    padding: 100px 100px;
}

/* .formSticky{
    font-size: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10%;
    /* background-size: cover; */
/* } */

#ingredients_header{
    font-weight: bolder;
    font-family: Palatino;
    color: black;
    font-size: 25px;
    text-shadow: 5px 2px white;
}
#ingredients_input{
    color: black;
    font-family: Palatino;
    /* font-weight: bold; */
    margin: 50px 100px;
    height: 30px;
    width: 400px;
    border-style: dotted;
    border-radius: 10px;
    font-size: 20px;
}

#submit{
    padding: 5px 5px;
    font-size: 15px;
    font-family: Palatino;
    font-weight: bold;
    color: black;
    background-color: white;
    border-style: dotted;
    border-radius: 10px;
}

#submit:hover{
    background-color: #B8D0EB;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
}

.section-3{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10%;
   
  
  }
  
.cards {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgb(211, 211, 211);
  text-align: center;
  border-radius: 100px;
  max-width: 300px;
  max-height: 300px;
  border-right-color: rgb(247, 144, 196);
}

img{
    height: 80%;
    border-radius: 50px;
}

.cards:hover{
    transform: scale(1.05);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #82a8d3;
    font-family: Palatino;
    letter-spacing: 2px;
    font-size-adjust: 0.5;
    word-wrap: break-word;
}

h3 {
    margin: 3px 3px 6px;
    padding: 3px 3px 6px;
    font-weight: bolder;
}
